<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="com.yygnb.demo" level="trace"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/hero-springboot-demo.%d.log</fileNamePattern>
            <MaxHistory>100</MaxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <springProfile name="local">
            <appender-ref ref="CONSOLE" />
        </springProfile>
        <springProfile name="!local">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </springProfile>
    </root>
</configuration>